@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


:root {
    --cor-fundo: #A4CDC5;        /* verde/azul do fundo */
    --cor-card: #DEECE9;         /* caixa grande do login */
    --cor-botao: #A4CDC5;        /* botão Entrar */
    --cor-input: #DFEEEB;        /* fundo dos inputs */
    --cor-borda-input: #C0CECB;  /* borda dos inputs */
    --cor-texto: #383C3B;        /* texto escuro: Hospital */
    --cor-texto-claro: #6B7775;  /* texto Login / placeholders */
    --cor-placeholder: #A8B4B2;  /* Usuário / Senha */
    --cor-sombra: #99BCB5;       /* sombra esverdeada */
    --cor-botaoClick: #589e92c4; 
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 100vh;
    width: 100%;
    background-color:var(--cor-fundo);
    padding: 0 10px;
    position: relative;
    color: #000000;
}


.wrapper {
    width: 500px;
    margin: 30px;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    border: 1px solid #e8f9f6;
    background-color: var(--cor-card);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    box-shadow: -6px 6px 2px  #546d682f;
}

h1{
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--cor-texto);
    text-shadow: 1px 1px 3px #999;
}

h2{
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--cor-texto-claro);   
    text-shadow: 1px 1px 3px #999999b7;
}

.btnEntrar {
    background-color: var(--cor-botao);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 10px 164px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 500;
    box-shadow: -3px 4px 3px  #546d6894;
}

.btnEntrar:hover{
    background-color: var(--cor-botaoClick);
    transition: 0.2s;
    transform: scale(1.02);
}

.input-field {
    position: relative;
    margin: 15px;
}

.input-field label {
    position: absolute;
    top: 50%;
    Left: 0;
    transform: translateY(-50%);
    color: var(--cor-input);
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    padding: 12px 12px;
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid var(--cor-borda-input);
    border-radius: 10px;
    outline: none;  
    font-size: 16px;
    color: #46534bc6;
    box-shadow: -3px 4px 3px  #546d6862;
}

.btnCadastro,
.cadastro {
    color: var(--cor-texto);
}

.cadastro {
    margin-top: 10px;
}

.imagem-login {
    width: 720px;
    height: 600px;
    margin-left: 40px;
    margin-top: 10px;
}

.olho-senha {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-placeholder);
    cursor: pointer;
    font-size: 20px;
}

.input-field input {
    padding-right: 45px;
}